
  <section id="horizontal-pricing" class="horizontal-pricing pt-0">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-header">
        <span>¿ Te sientes inspirado ?</span>
        <h2>¿ Te sientes inspirado ?</h2>
      </div>
      <div class="row gy-4 pricing-item featured mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <h3>Crear nuevo curso</h3>
        </div>
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <h4><sup>$</sup>29<span> / month</span></h4>
        </div>
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <ul>
            <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bi bi-check"></i> <strong>Nec feugiat nisl pretium</strong></li>
            <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
          </ul>
        </div>
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <div class="text-center"><a href="{{url_for('app_cursos.crear_f')}}" class="buy-btn">Crear curso</a></div>
        </div>
      </div><!-- End Pricing Item -->

    </div>
  </section>