<section id="horizontal-pricing" class="horizontal-pricing pt-0">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
            <span>Opciones de administracion</span>
            <h2>Opciones de administracion</h2>
        </div>

        <div class="row gy-4 pricing-item mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <h3>Administrar solicitudes</h3>
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <!-- <h4><sup>$</sup>49<span> / month</span></h4> -->
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <ul>
                    <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                    <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                    <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                </ul>
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <a href="{{ url_for('app_admin.solicitudes_f') }}" class="buy-btn">Ver solicitudes</a>
                </div>
            </div>
        </div><!-- End Pricing Item -->


        <div class="row gy-4 pricing-item mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <h3>Administrar usuarios</h3>
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <!-- <h4><sup>$</sup>49<span> / month</span></h4> -->
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <ul>
                    <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                    <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                    <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                </ul>
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <div class="text-center"><a href="" class="buy-btn">Ver</a></div>
            </div>
        </div><!-- End Pricing Item -->


        <div class="row gy-4 pricing-item mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <h3>Administrar cursos</h3>
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <!-- <h4><sup>$</sup>49<span> / month</span></h4> -->
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <ul>
                    <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                    <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                    <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                </ul>
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <div class="text-center"><a href="" class="buy-btn">Ver</a></div>
            </div>
        </div><!-- End Pricing Item -->


    </div>
</section>