{% extends 'base.html' %}

{% block titulo %}
    Perfil
{% endblock %}


{% block contenido %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url({{url_for('static', filename='/img/page-header.jpg')}});">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Hola {{current_user.nickname}}</h2>
            <!-- <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p> -->
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="{{ url_for('inicio') }}">Home</a></li>
          <li>Perfil</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->
    

  {% include 'usuarios/frag_cursos_inscritos.html'   %}
  
  {% if current_user.rol == roles.ADMIN.value %}
    {% include 'usuarios/frag_opciones_admin.html'   %}
  {% endif %}

  {% if current_user.rol == roles.PROFESOR.value %}
    {% include 'usuarios/frag_cursos_creados.html'   %}
    {% include 'usuarios/frag_crear_curso.html'   %}
  {% endif %}
  
  
  {% if current_user.rol == roles.ESTUDIANTE.value %}
    {% include 'usuarios/frag_ser_profesor.html'   %}
  {% endif %}
  
      
{% endblock %}
